---
title: Instituto Ser
---

<div class="row">
<div id=cabecalho class="twelve columns">
  <%= image_tag 'instituto-ser.png', id: 'logo-cabecalho', alt: 'Logomarca do Instituto Ser' %>
  <address>Rua Marquês de Montalvão
           Quadra F, nº 1, Jardim da Penha
           Vitória, Espírito Santo, Brasil</address>
</div>
</div>

<nav class="row navbar" id=menu-topo>
  <%# barra de navegação para celulares: %>
  <a class="toggle" gumby-trigger="#menu-topo > ul" href="#"><i class="icon-menu"></i></a>
  <ul class="twelve columns">
    <li><%= link_to 'Início', '/index.html' %></li>
    <li><%= link_to 'O Instituto', '#' %></li>
    <li><%= link_to 'Serviços', '#' %></li>
    <li><%= link_to 'Programação de cursos', '#' %></li>
    <li><%= link_to 'Fale conosco', '#' %></li>
  </ul>
</nav>

<div class="row">
  <div class="twelve columns centered">
    <h1>Imagem chamada principal</h1>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <h1 class="fundo-menu">Próximos Cursos</h1>
  </div>
  <div class="six columns">
    <h1 class="fundo-menu">Outra chamada</h1>
  </div>
</div>

<div class="row">
  <div class="twelve columns fundo-menu">
    <h1>Destaques</h1>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <p>Há mais de 12 anos, Ednéa Firme Rosalém, vem desenvolvendo o Projeto SER,
    o qual tem transformado a vida de inúmeras pessoas. Atendendo aos pedidos por
    uma continuidade do trabalho realizado no Projeto SER, nasceu o Instituto SER
    que teve a sua fundação em maio de 2012. Na inauguração de suas atividades,
    lançou o workshop Projeto SER para jovens, concretizando o sonho de trabalhar
    o conhecimento do Enegrama com o público jovem e abrindo as portas para o público infantil.</p>
  </div>
  <div class="three columns">
    <p>Não Perca</p>
    <p>Algo muito interessante aqui em breve.</p>
  </div>
  <div class="three columns">
    <p>Veja aqui alguns depoimentos sobre os trabalhos do Institutor Ser.</p>
  </div>
</div>

