---
title: Instituto Ser - eventos
---

<div class=eventos>

  <div class="row">
    <div class="twelve columns">
      <h1>Eventos</h1>

      <h2>Workshops</h2>

      <ul>
        <li><strong>
          <%= link_to 'ENEAGRAMA – Conheça a sua Personalidade', '/eneagrama.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'ENEAGRAMA nos Relacionamentos', '/eneagrama-nos-relacionamentos.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'ENEAGRAMA - Subtipos', '/eneagrama-tipos-e-subtipos.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Painel dos ENEATIPOS', '/eneagrama-painel-dos-tipos.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'ENEAGRAMA para Jovens', '/eneagrama-para-jovens.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'REIKI', '/reiki.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Constelação Familiar', '/constelacao-familiar.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Yoga', '/yoga.html' %>
        </strong></li>
      </ul>
    </div>
  </div>
</div>
