---
title: Instituto Ser - eventos
---

<div class=eventos>

  <div class="row">
    <div class="twelve columns">
      <h1>Eventos</h1>

      <h2>Workshops</h2>

      <ul>
       <li><strong>
          <%= link_to 'Leitura Corporal – Integração Corpo e Mente', '/leitura-corporal.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'ENEAGRAMA – Conheça a sua Personalidade', '/eneagrama.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'ENEAGRAMA na Empresa', '/eneagrama-na-empresa.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'ASAS E FLECHAS do Eneagrama', '/eneagrama-asas-e-flechas.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Eneagrama nos Relacionamentos', '/eneagrama-nos-relacionamentos.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Tipos e Subtipos do Eneagrama', '/eneagrama-tipos-e-subtipos.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Eneagrama Sistêmico', '/eneagrama-sistemico.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Eneagrama e Espiritualidade', '/eneagrama-e-espiritualidade.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Painel dos Tipos', '/eneagrama-painel-dos-tipos.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Eneagrama para Jovens', '/eneagrama-para-jovens.html' %>
        </strong></li>
        <li><strong>
          <%= link_to 'Educação Integral: Unidade na Diversidade',
                      '/educacao-integral-unidade-na-diversidade.html' %>
        </strong></li>
      </ul>

      <h2>Cursos</h2>
      <ul>
        <li><strong><%= link_to 'Reiki', '/reiki.html' %></strong></li>
        <li><strong><%= link_to 'Karuna', '/karuna.html' %></strong></li>
      </ul>

      <h2>Sessões</h2>
      <ul>
        <li><strong><%= link_to 'Reiki', '/reiki.html' %></strong></li>
        <li><strong><%= link_to 'Karuna', '/karuna.html' %></strong></li>
      </ul>
    </div>
  </div>
</div>
